<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Linage-2</title>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
    <div class="header">
        <div class="header__nav">
            <a class="header__link">Главная</a>
            <a class="header__link">Личный кабинет</a>
            <a class="header__link">Рейтинг</a>
            <a class="header__link">Реферальная программа</a>
            <a class="header__link">Дорожная карта</a>
            <a class="header__link">Пресейл</a>
            <a class="header__link">Токен</a>
            <a class="header__link">Инструкция</a>
        </div>
        <div class="header__buttons">
            <div class="header__localization">
                <a class="header__link header__link_slash">Ru</a>
                <a class="header__link">Eng</a>
            </div>
            <a href="" class="header__btn">Форум</a>
            <a href="" class="header__btn">Регистрация</a>
        </div>
    </div>