.image(@width, @height) {
  height: @height;
  max-width: @width;
  object-fit: cover;
}

.fontOpt(@fs, @fw){
  font-weight: @fw;
  font-size: @fs;
}

.column(@align, @justify) {
  display: flex;
  flex-direction: column;
  align-items: @align;
  justify-content: @justify;
}

.row(@justify) {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: @justify;
}


.btn {
  background: none;
  .fontOpt(@text_base, 500);
  padding: @pd_big @pd_base;
  border-radius: @radius_small;
  width: 160px;
  text-align: center;
  border: 2px solid #5b7cffd1;
  color: #5b7cffd1;

  &_fill {
    border-color: #fff0;
    color: @black;
    background: @linear border-box;
  }
  &_small {
    .fontOpt(@text_vsmall, 500)
  }

  &_big {
    .fontOpt(@text_big, 500)
  }
  &:hover {
    opacity: 0.6;
  }
}

.linearText {
  //background: @linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}